<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="page">
        <h1>🍽 Restaurant</h1>

        <a href="/menu" class="btn restaurant">View Menu</a>
        <a href="/table-booking" class="btn resort">Book a Table</a>

        <br>
        <a href="/" class="back">⬅ Back</a>
    </div>

</body>
</html>
