<!DOCTYPE html>
<html>
<head>
    <title>Table Booking</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>Book a Table</h1>

<form>
    <input type="text" placeholder="Name" required>
    <input type="tel" placeholder="Mobile Number" required>
    <input type="date" required>
    <input type="time" required>
    <input type="number" placeholder="Persons" required>

    <button class="btn restaurant">Proceed to Payment</button>
</form>

<a href="/restaurant" class="back">⬅ Back</a>

</body>
</html>
